/* Imports */

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

/* Vars */

:root {
    --backColor: #022c43;
    --backColor2: #115173;
    --boxColor: #ffd700;
    --titleFont: 'Work Sans', sans-serif;
    --mainFont: 'Open Sans', sans-serif;
}

/* Standar things */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html {
    font-size: 62.5%;
}

/* Styles */

/* header */

.header{
    text-align: center;
    padding: 2.5% 10%;
    background-color: var(--backColor);
}

.header__title{
    font-size: 4rem;
    color: aliceblue;
    font-family: var(--titleFont);
}

.header__subtitle {
    font-size: 2rem;
    color: aliceblue;
    font-family: var(--mainFont);
}

/*  */

/* Main */

.main {
    background-color: var(--backColor2);
}

.container {
    margin: 0 10%;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}

.container__box--link{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 2rem;
    font-family: var(--mainFont);
    text-decoration: none;
    color: black;
    max-width: 20rem;
    max-height: 20rem;
    min-width: 20rem;
    min-height: 20rem;
    padding: 1rem;
    margin: 2rem;
    background-color: var(--boxColor);
    border-radius: 1rem;
    text-align: center;
    opacity: 80%;
    transition: 0.5s;
}

.container__box--link:hover{
    opacity: 100%;
}

.svg_image {
    width: 6rem;
    height: 6rem;
}

.container__box {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    margin: 1rem;
    padding: 1rem;
    min-height: 25rem;
    width: 80vw;
    border-radius: 1rem;
    font-family: var(--mainFont);
    font-size: 2rem;
    background-color: var(--boxColor);
}

.container__box_title {
    text-align: center;
}

.container__box_form {
    display: flex;
    flex-direction: column;
}

.container__box_ul {
    list-style: none;
}

.ul__item {
    transition: 0.5s;
}

.ul__item:hover {
    color: red;
}

.form_input {
    border-radius: 1rem;
    border: none;
    padding: 1rem;
    height: 2rem;
    width: 14rem;
}

.form_button {
    border-radius: 1rem;
    border: none;
    color: aliceblue;
    background-color: var(--backColor);
    width: 13rem;
    height: 2rem;
    transition: 0.5s;
}

.form_button:hover {
    background: var(--boxColor);
    color: var(--backColor);
}

.box--item {
    margin: 0.3rem;
}