<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/mobile.css">
    <title>Discounts</title>
</head>
<body>
    <header class="header">
        <h1 class="header__title">Discounts</h1>
    </header>
    <main class="main">
        <div class="container">
            <div class="container__box">
                <h2 class="container__box-title">Discount</h2>
                <form class="container__box_form">
                    <label class="box--item" for="inputPrice">Price</label>
                    <input class="form_input  box--item" type="number" id="inputPrice">
                    <label class="box--item" for="inputDiscount">Discount</label>
                    <input class="form_input  box--item" type="number" id="inputDiscount">
                    <button class="form_button  box--item" type="button" onclick="priceDiscount()">Calculate</button>
                    <p class="box--item" id="result">Discount:</p>
                </form>
            </div>
        </div>
    </main>
    <script src="../js/discounts.js"></script>
    <script src="../main.js"></script>
</body>
</html>