<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/mobile.css" media="screen and (min-width: 320px)" />
    <link rel="stylesheet" href="../css/tablet.css" media="screen and (min-width: 600px)" />
    <link rel="stylesheet" href="../css/desktop.css" media="screen and (min-width: 800px)" />
    <title>Geometric Figures</title>
</head>
<body class="body">
    
    <header class="header">
        <h1 class="header__title">Geometric figures</h1>
    </header>
    
    <main class="main">
        <div class="container">
            <section class="container__box">
                <h2 class="container__box_title">Square</h2>
                <form class="container__box_form">
                    <label class="box--item" for="squareSide">Type a side of the square</label>
                    <input class="form_input  box--item" id="squareSide" type="number">
                    <button type="button" onclick="squareResults()" class="form_button  box--item">Calculate properties</button>
                    <p class="box--item" id="squareResultPerimeter">Perimeter:</p>
                    <p class="box--item" id="squareResultArea">Area:</p>
                </form>
            </section>
            <section class="container__box">
                <h2 class="container__box_title">Triangle</h2>
                <form class="container__box_form">
                    <label class="box--item" for="triangleSide">Type a side of the equilateral triangle</label>
                    <input class="form_input  box--item" id="triangleSide" type="number">
                    <button type="button" onclick="triangleResults()" class="form_button  box--item">Calculate properties</button>
                    <p class="box--item" id="triangleResultPerimeter">Perimeter:</p>
                    <p class="box--item" id="triangleResultArea">Area:</p>
                </form>
            </section>
            <section class="container__box">
                <h2 class="container__box_title">Circle</h2>
                <form class="container__box_form">
                    <label class="box--item" for="circleSide">Type the circle radious</label>
                    <input class="form_input  box--item" id="circleSide" type="number">
                    <button type="button" onclick="circleResults()" class="form_button  box--item">Calculate properties</button>
                    <p class="box--item" id="circleResultPerimeter">Perimeter:</p>
                    <p class="box--item" id="circleResultArea">Area:</p>
                </form>
            </section>
        </div>
    </main>
    
    <footer class="footer">
        <div class="footer__container_links">
            <a class="link  box--item" href="https://github.com/AlbertoNM/math_JS">Repository</a>
            <a class="link  box--item" href="https://github.com/AlbertoNM">My github</a>
        </div>
        <h3 class="footer__title">Made it by Alberto NM</h3>
    </footer>
    
    <script src="../js/figures.js"></script>
    <script src="../main.js"></script>
    
</body>
</html>