<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Geometric Figures</title>
</head>
<body>
    <header>
        <h1>Geometric figures</h1>
    </header>
    <section>
        <h2>Square</h2>
        <form>
            <label for="squareSide">Type a side of the square</label>
            <input id="squareSide" type="number">
            <button type="button" onclick="squareResults()">Calculate properties</button>
            <p id="squareResultPerimeter"></p>
            <p id="squareResultArea"></p>
        </form>
    </section>
    <section>
        <h2>Triangle</h2>
        <form>
            <label for="triangleSide">Type a side of the equilateral triangle</label>
            <input id="triangleSide" type="number">
            <button type="button" onclick="triangleResults()">Calculate properties</button>
            <p id="triangleResultPerimeter"></p>
            <p id="triangleResultArea"></p>
        </form>
    </section>
    <section>
        <h2>Circle</h2>
        <form>
            <label for="circleSide">Type the circle radious</label>
            <input id="circleSide" type="number">
            <button type="button" onclick="circleResults()">Calculate properties</button>
            <p id="circleResultPerimeter"></p>
            <p id="circleResultArea"></p>
        </form>
    </section>
    <script src="../js/figures.js"></script>
</body>
</html>