<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Salaries</title>
</head>
<body>
    <header>
        <h1>Salaries</h1>
    </header>
    <body>
        <div>
            <form action="">
                <h2>Name</h2>
                <input type="text" id="personName">
                <h2>Salary</h2>
                <input type="number" step="any" id="personSalary">
                <button type="button" onclick="addPerson()">Send</button>
            </form>
            <div>
                <ul id="nameList">

                </ul>
            </div>
        </div>
    </body>
    <script src="../js/statistics.js"></script>
    <script src="../js/salaries/salary.js"></script>
    <script src="../main.js"></script>
</body>
</html>