<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Statistics</title>
</head>
<body>
    <header>
        <h1>Statistics</h1>
    </header>
    <body>
        <form action="">
            <h2>Adds a number to the list</h2>
            <input type="number" id="number">
            <button onclick="addNumber()" type="button" step="any">+</button>
        </form>
        <div>
            <ul id="numbers">

            </ul>
        </div>
        <div>
            <button type="button" onclick="basicStatistics()">Basic statistics</button>
            <p id="average">Average:</p>
            <p id="median">Median:</p>
            <p id="trend">Trend:</p>
        </div>
    </body>
    <script src="../js/statistics.js"></script>
    <script src="../main.js"></script>
</body>
</html>