<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/mobile.css" media="screen and (min-width: 320px)" />
    <link rel="stylesheet" href="../css/tablet.css" media="screen and (min-width: 600px)" />
    <link rel="stylesheet" href="../css/desktop.css" media="screen and (min-width: 800px)" />
    <title>Statistics</title>
</head>
<body class="body">
    
    <header class="header">
        <h1 class="header__title">Statistics</h1>
    </header>
    
    <main class="main">
        <div class="container">
            <form class="container__box">
                <p class="box--item">Adds a number to the list.</p>
                <input type="number" id="number" class="form_input  box--item">
                <button onclick="addNumber()" type="button" step="any" class="form_button  box--item">+</button>
                <p class="box--item">Click the number to remove it.</p>
                <ul id="numbers" class="container__box_ul  box--item"></ul>
            </form>
            <div class="container__box">
                <form action="" class="container__box_form">
                    <button type="button" onclick="basicStatistics()" class="form_button  box--item">Basic statistics</button>
                    <p id="average" class="box--item">Average:</p>
                    <p id="median" class="box--item">Median:</p>
                    <p id="trend" class="box--item">Trend:</p>
                </form>
            </div>
        </div>
    </main>
    
    <footer class="footer">
        <div class="footer__container_links">
            <a class="link  box--item" href="https://github.com/AlbertoNM/math_JS">Repository</a>
            <a class="link  box--item" href="https://github.com/AlbertoNM">My github</a>
        </div>
        <h3 class="footer__title">Made it by Alberto NM</h3>
    </footer>
    
    <script src="../js/statistics.js"></script>
    <script src="../main.js"></script>
    
</body>
</html>